h1 {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 0;
}

.columns {
    display: flex;
    gap: 30px;
    justify-content: center;

    &__form ::ng-deep {
        position: relative;
        h2 {
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            color: #545454;
            span {
                display: block;
                font-size: 13px;
                font-weight: 300;
            }
            strong {
                font-weight: 400;
            }
            &.over-9000 strong {
                font-weight: 600;
                color: red;
                &:after {
                    content: '!!!';
                }
            }
        }
        h3 {
            position: absolute;
            width: 100%;
            z-index: 10;
            text-align: center;
            font-size: 38px;
            margin: 185px 0 0 0;
            text-shadow: 3px 3px 0 #fff;
        }
        nav {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 20px;
            button {
                display: block;
                width: calc(50% - 5px);
                border-radius: 10px;
                border: 0;
                background-color: #61b6b6;
                color: #fff;
                padding: 10px;
                text-transform: uppercase;
                cursor: pointer;
                box-shadow: 5px 5px 10px #eaeaea;
            }
        }
    }
}
